
*.dylib
.DS_Store
*.db-shm
*.db
*.db-wal
*.json
*.make
bin/data/.gitkeep
*.plist
bin/Dots_And_Boxes_debug.app/Contents/MacOS/Dots_And_Boxes_debug
*.code-workspace
*.pbxproj
*.xcworkspacedata
*.xcsettings
*.xcscheme
Makefile
obj/osx/Debug/.compiler_flags
*.d
*.o
*.xcconfig
